.card {
  height: 70%;
  margin: 2px;
  color: white;
  background: radial-gradient(
    circle,
    rgba(2, 0, 36, 1) 0%,
    rgba(75, 12, 212, 0.9500175070028011) 35%,
    rgba(0, 118, 142, 1) 100%
  );
}

.card .card-text {
  max-height: 100px;
  overflow: hidden;
}

.custom-card-img {
  height: 50%;
}

.textH1 {
  display: flex;
  align-items: center;
  justify-content: center;
  padding-top: 3%;
  padding-bottom: 4%;
}

@media (max-width: 1600px) {
  .footer {
    height: 150px;
    color: white;
    margin-top: 60px;
}

}

@media (max-width: 1400px) {
  .footer {
    height: 150px;
    color: white;
    margin-top: 150px;
}
.card {
  height: 85%;
  margin: 2px;
  color: white;
  background: radial-gradient(
    circle,
    rgba(2, 0, 36, 1) 0%,
    rgba(75, 12, 212, 0.9500175070028011) 35%,
    rgba(0, 118, 142, 1) 100%
  );
}
}

@media (max-width: 1250px) {
  .footer {
    height: 150px;
    color: white;;
}
.card {
  height: 85%;
  margin: 2px;
  color: white;
  background: radial-gradient(
    circle,
    rgba(2, 0, 36, 1) 0%,
    rgba(75, 12, 212, 0.9500175070028011) 35%,
    rgba(0, 118, 142, 1) 100%
  );
}
}

@media (max-width: 1200px) {
  .footer {
    height: 140px;
    color: white;
    margin-top: 150px;
} 
}

@media (max-width: 1000px) {
  .footer {
    height: 140px;
    color: white;
    margin-top: 150px;
} 
.card {
  height: 100%;
  margin: 2px;
  color: white;
  background: radial-gradient(
    circle,
    rgba(2, 0, 36, 1) 0%,
    rgba(75, 12, 212, 0.9500175070028011) 35%,
    rgba(0, 118, 142, 1) 100%
  );
}
}
@media (max-width: 991px) {
  .navbar-nav{
    display: flex;
    flex-direction: row;
  }
  .nav-link{
    margin: 10px;
  }
}

@media (max-width: 767px) {
.container.my-4 {
  display:flex;
  flex-direction: column;
}

.container.my-4 > div {
  flex: 1 !important; 
  margin: -4px !important; 
}

.footer {
  height: 160px;
  color: white;
  margin-top: 150px;
} 

.row > div{
  flex: 1 !important; 
  margin: 30px !important;
  width: 120px;
}
.navbar-nav{
  display: flex;
  flex-direction: row;
}
.nav-link{
  margin: 10px;
}
}

@media (max-width: 576px) {
  .col-3 {
      flex: 0 0 auto;
      width: 64%;
  }
  .row{
    justify-content: center;
  }

  .container.my-4 > div {
    flex: 1 !important; 
    margin: 3px !important; 
  }

  .row > div{
    flex: 1 !important; 
    margin: 30px !important;
    width: 120px;
  }
  .navbar-nav{
    display: flex;
    flex-direction: row;
  }
  .nav-link{
    margin: 10px;
  }
}

@media (max-width: 573px) {
  .container.my-4 > div {
    flex: 1 !important; 
    margin: 5px !important; 
  }
  .navbar-nav{
    display: flex;
    flex-direction: row;
  }
  .nav-link{
    margin: 10px;
  }
}

@media (max-width: 412px) {
  .container.my-4 > div {
    flex: 1 !important;
    margin: -86px !important;
    padding-left: 45px;
    padding-top: 60px;
  }

  .footer {
    height: 160px;
    width: 118vw;
    color: white;
    margin-top: 170px;
  }

  .navbar {
    width: 118vw;
  }
.navbar-nav{
  display: flex;
  flex-direction: row;
}
.nav-link{
  margin: 10px;
}
}